$font-title: 'Lora', serif;
$font-regular: 'Nunito Sans', sans-serif;

$color-white-100: #fff;
$color-bg-green: #212B1E;
$color-icons: rgba(234, 237, 235, 0.7);
$color-icons-bg: #2F4527;
$color-review-green: rgba(25,27,14, 0.7);
$color-review-bg: #C6B29F;

$color-footer-bg: #171A14;

$side-pad: 120px;